assets/models/zombies/scary_zombie_*.png filter=lfs diff=lfs merge=lfs -text
assets/models/zombies/cop_zombie.glb filter=lfs diff=lfs merge=lfs -text
assets/models/zombies/cop_zombie_*.png filter=lfs diff=lfs merge=lfs -text
assets/models/characters/mixamo_soldier.glb filter=lfs diff=lfs merge=lfs -text
assets/models/characters/mixamo_soldier_*.png filter=lfs diff=lfs merge=lfs -text
assets/models/zombies/scary_zombie.glb filter=lfs diff=lfs merge=lfs -text
